.timeline-theme-2 {
  width: 600px;
  margin: 70px auto auto;
}

.timeline-small-box .timeline-list {
  width: 600px;
  height: 250px;
}

.timeline-small-box .box-item {
  float: left;
  width: 600px;
  height: 250px;
  color: #fff;
  text-align: center;
}

.bg-1 {
  background: #4A2AB2;
}

.bg-2 {
  background: #7dffc3;
}

.bg-3 {
  background: #23A5E9;
}

.bg-4 {
  background: #93C763;
}

.bg-5 {
  background: #949923;
}

.bg-6 {
  background: #990055;
}

.bg-7 {
  background: #7dffc3;
}

.bg-8 {
  background: #23A5E9;
}

.bg-9 {
  background: #93C763;
}

.bg-10 {
  background: #949923;
}

.bg-11 {
  background: #990055;
}
