.timeline-theme-2 {
  width: 600px;
  margin: 70px auto auto;
}

.timeline-small-box .timeline-list {
  width: 600px;
  height: 250px;
}

.timeline-small-box .box-item {
  float: left;
  width: 600px;
  height: 250px;
  color: #fff;
  text-align: center;
}

.theme-1 {
  background: #4A2AB2;
}

.theme-2 {
  background: #7dffc3;
}

.theme-3 {
  background: #23A5E9;
}

.theme-4 {
  background: #93C763;
}

.theme-5 {
  background: #949923;
}

.theme-6 {
  background: #990055;
}
